name: Release CLI

on:
    push:
        branches:
            - release-test

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Dummy step
              run: echo "Dummy workflow"
